@import url("./vendor/normalize.css");

/** blocks go here **/

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  background: url("../images/background_header.svg") center no-repeat #ffffff;
  /* size: cover; */
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
}

.header__logo {
  width: 125px;
  height: 142px;
  left: 30px;
  top: 30px;
}

.nav__links {
  list-style: none;
  padding-left: 0;
  margin-top: 0px;
  margin-bottom: 0;
  margin-right: 80px;
  display: flex;
  align-items: center;
  column-gap: 20px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.nav__link:hover {
  color: #2f80ed;
}

.header__title {
  max-width: 729px;
  margin-left: 80px;
  margin-bottom: 0;
  margin-top: 80px;
}

.header__title_coffee {
  font-family: Noto Serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__title_library {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
}

.header__description {
  font-family: Noto Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin-left: 80px;
  margin-top: 28px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  right: 5px;
  top: 124px;
}

.header__footer {
  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;

  margin-left: 80px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  bottom: 40px;
}

.header__footer_hours_text {
  margin-bottom: 0 0 0 0;
  padding: 0 0 0 0;
}

.menu {
  background-color: #0a2750;
  background: url("../images/background_menu.svg") center no-repeat #0a2750;
}
